<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="browsers-menu" label="Web Browsers">
		<item label="Firefox Profile Manager">
			<action name="Execute">
				<execute>firefox -no-remote -ProfileManager</execute>
			</action>
		</item>
		<item label="Chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="Chromium Incognito">
			<action name="Execute">
				<execute>chromium --incognito</execute>
			</action>
		</item>
		<item label="uzbl">
			<action name="Execute">
				<execute>uzbl-browser</execute>
			</action>
		</item>
		<separator/>
		<item label="Tor Browser Bundle">
			<action name="Execute">
				<execute>tor-browser-en</execute>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="System">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>
					obconf
				</command>
				<startupnotify>
					<enabled>
						yes
					</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Openbox Menu Configuration">
			<action name="Execute">
				<execute>
					obmenu
				</execute>
			</action>
		</item>
		<item label="LXAppearance">
			<action name="Execute">
				<execute>
					lxappearance
				</execute>
			</action>
		</item>
		<item label="GTK Change Theme">
			<action name="Execute">
				<execute>
					gtk-chtheme
				</execute>
			</action>
		</item>
		<item label="Work Monitor - 1280x1024">
			<action name="Execute">
				<execute>
					xrandr --output VGA1 --mode 1280x1024
				</execute>
			</action>
		</item>
		<item label="Home Monitor - 1440x900">
			<action name="Execute">
				<execute>
					xrandr --output VGA1 --mode 1440x900
				</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<item label="Terminal">
			<action name="Execute">
				<execute>
					Terminal
				</execute>
			</action>
		</item>
		<item label="Thunar">
			<action name="Execute">
				<execute>
					thunar
				</execute>
			</action>
		</item>
		<menu id="browsers-menu"/>
		<item label="KeePassX">
			<action name="Execute">
				<execute>
					keepassx
				</execute>
			</action>
		</item>
		<separator label="System"/>
		<menu id="system-menu"/>
		<separator/>
		<item label="Reboot System">
			<action name="Execute">
				<execute>
					gksudo -u root --description &quot;Reboot System?&quot; reboot
				</execute>
			</action>
		</item>
		<item label="Halt System">
			<action name="Execute">
				<execute>
					gksudo -u root --description &quot;Halt System?&quot; &quot;halt -p&quot;
				</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
